<div class="background">
    <div class="rectangle">
        <div class="input-data">
        <input class="input-text" value={{input}} (input)="verifyValues()">
        </div>
        <div class="buttons">
            <button class="btn grey" (click)="cleanInput()">C</button>
            <button class="btn grey" (click)="toggleMinusPlus()">+/-</button>
            <button class="btn grey" (click)="insertChar('%')">%</button>
            <button class="btn orange" (click)="insertChar('÷')" >÷</button>
            <button class="btn white-grey" (click)="insertValue(7)" >7</button>
            <button class="btn white-grey"(click)="insertValue(8)">8</button>
            <button class="btn white-grey"(click)="insertValue(9)">9</button>
            <button class="btn orange" (click)="insertChar('*')">X</button>
            <button class="btn white-grey" (click)="insertValue(4)">4</button>
            <button class="btn white-grey" (click)="insertValue(5)">5</button>
            <button class="btn white-grey" (click)="insertValue(6)">6</button>
            <button class="btn orange"(click)="insertChar('-')">-</button>
            <button class="btn white-grey" (click)="insertValue(1)">1</button>
            <button class="btn white-grey" (click)="insertValue(2)">2</button>
            <button class="btn white-grey" (click)="insertValue(3)">3</button>
            <button class="btn orange"(click)="insertChar('+')">+</button>
            <button class="btn zero white-grey" (click)="insertValue(0)">0</button>
            <button class="btn white-grey" (click)="insertChar('.')">.</button>
            <button class="btn orange" (click)="resolveEcuation()" >=</button>
        </div>
    </div>
</div>